# Custom SSH Configuration (Managed by Ansible)

Port {{ port }}
PermitRootLogin {{ permitRootLogin | ternary( 'yes', 'no') }}
PasswordAuthentication {{ passwordAuthentication | ternary( 'yes', 'no') }}