# HTTP to HTTPS redirect
server {
    listen 80;
    server_name {{ portainer_domine }};

    # Редирект с HTTP на HTTPS
    return 301 https://$host$request_uri;
}

# HTTPS server block
server {
    listen 443 ssl;
    server_name {{ portainer_domine }};

    # Путь к SSL сертификатам
    ssl_certificate /etc/ssl/{{ portainer_domine }}/cert.pem;
    ssl_certificate_key /etc/ssl/{{ portainer_domine }}/privkey.pem;

    # Рекомендуемые параметры безопасности SSL
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout 5m;

    # Прокси для Portainer
    location / {
        proxy_pass https://localhost:{{ free_port_2 }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
    }
}